<h1>Listing payment_statuses</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payment_statuses.each do |payment_status| %>
  <tr>
    <td><%= payment_status.nombre %></td>
    <td><%= payment_status.descripcion %></td>
    <td><%= link_to 'Show', payment_status %></td>
    <td><%= link_to 'Edit', edit_payment_status_path(payment_status) %></td>
    <td><%= link_to 'Destroy', payment_status, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment status', new_payment_status_path %>
