<br />
<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :marca %><br />
    <%= f.text_field :marca %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br />
    <%= f.number_field :department_id %>
  </div>
  <div class="field">
    <%= f.label :retail_unit_id %><br />
    <%= f.number_field :retail_unit_id %>
  </div>
  <div class="field">
    <%= f.label :precio_por_unidad_de_venta %><br />
    <%= f.text_field :precio_por_unidad_de_venta %>
  </div>
  <div class="field">
    <%= f.label :stock %><br />
    <%= f.number_field :stock %>
  </div>
  <div class="actions">
    <%= f.submit params[:action] == "edit" ? "Actualizar Departamento" : "Crear Departamento" %>
  </div>
<% end %>
