<h1>Lista de articulos</h1>

<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Marca</th>
    <th>Departamento</th>
    <th>Unidad</th>
    <th>Precio por unidad de venta</th>
    <th>Stock</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.nombre %></td>
    <td><%= article.marca %></td>
    <td><%= article.department_id %></td>
    <td><%= article.retail_unit_id %></td>
    <td><%= article.precio_por_unidad_de_venta %></td>
    <td><%= article.stock %></td>
    <td><%= link_to 'Ver detalles', article %></td>
    <td><%= link_to 'Editar', edit_article_path(article) %></td>
    <td><%= link_to 'Eliminar', article, confirm: 'Esta seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear u nuevo articulo', new_article_path %>
