<h1>Lista de departamentos</h1>
<br />
<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @departments.each do |department| %>
  <tr>
    <td><%= department.nombre %></td>
    <td><%= department.descripcion %></td>
    <td><%= link_to 'Ver detalles', department %></td>
    <td><%= link_to 'Editar', edit_department_path(department) %></td>
    <td><%= link_to 'Eliminar', department, confirm: 'Esta seguro que desea eliminar este departamento?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Nuevo Departamento', new_department_path %>
