<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.number_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :order_status_id %><br />
    <%= f.number_field :order_status_id %>
  </div>
  <div class="field">
    <%= f.label :monto_total %><br />
    <%= f.text_field :monto_total %>
  </div>
  <div class="field">
    <%= f.label :fecha_entrega %><br />
    <%= f.date_select :fecha_entrega %>
  </div>
  <div class="field">
    <%= f.label :payment_status_id %><br />
    <%= f.number_field :payment_status_id %>
  </div>
  <div class="field">
    <%= f.label :fecha_liberacion_pedido %><br />
    <%= f.date_select :fecha_liberacion_pedido %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
