<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @order.client_id %>
</p>

<p>
  <b>Estatus de la orden:</b>
  <%= @order.order_status_id %>
</p>

<p>
  <b>Monto total:</b>
  <%= @order.monto_total %>
</p>

<p>
  <b>Fecha entrega:</b>
  <%= @order.fecha_entrega %>
</p>

<p>
  <b>Estatus del pago:</b>
  <%= @order.payment_status_id %>
</p>

<p>
  <b>Fecha liberacion pedido:</b>
  <%= @order.fecha_liberacion_pedido %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
